<%- include("navbar1.ejs") %>

<div class="admin_add bg-dark">
	<p class="border-bottom text-white fs-4" style="height:50px;">Food Ordering System</p>
	<p class="border-bottom text-white fs-4 p-0">Admin
		<i class="fa-solid fa-user"></i></p>

	<div class="d-grid gap-3">
  		<div class="p-2 bg-primary text-white fs-5 "><i class="fa-solid fa-gauge"></i> Dashboard</div>
		  <a class="text-decoration-none" href="/admin_addmenu">
			<div class="p-2 text-white fs-5">Add Menu</div>
			</a>
			<a class="text-decoration-none" href="/print_menu">
				<div class="p-2 text-white fs-5">Menu List</div>
				</a>
  		<div class="p-2 bg-dark text-white fs-5 "><i class="fa-solid fa-cart-shopping"></i> Orders</div>
  		<div class="dropdown">
            <button class="btn btn-dark dropdown-toggle w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          		<i class="fa-solid fa-notes-medical float-start fs-5"></i> <p class="float-start fs-5">Catalog</p>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/RestaurantAdd">Restaurants</a></li>
                <li><a class="dropdown-item" href="/Print_restaurant">Restaurant List</a></li>
                <li><a class="dropdown-item" href="#">Restaurant Categories</a></li>
            </ul>
      </div>
  		<div class="p-2 bg-dark text-white fs-5 "><i class="fa-solid fa-users"></i> Customers Manager</div>
  		<div class="p-2 bg-dark text-white fs-5 "><i class="fa-solid fa-cart-shopping"></i> Pages</div>
  		<div class="p-2 bg-dark text-white fs-5 "><i class="fa-sharp fa-solid fa-clipboard"></i> Settings</div>
  		<div class="p-2 bg-dark text-white fs-5 "><i class="fa-solid fa-arrow-right-to-bracket"></i> Logout</div>
	</div>
	
</div>

<div class="admin_add1 bg-secondary">
	<div class="border-bottom" style="height:50px;">
        <i class="fa-solid fa-bars fs-3 text-white"></i>
    </div>

	<form class="mt-5 bg-white" method="post" action="/dashboard" enctype="multipart/form-data">
		<div class="w-100 fs-4 border-bottom text-white">Add new Menu</div>
		

		<label class="fs-5">Food name*</label><br>
		<input type="text" name="food_name" placeholder="Enter food name" class="input2">
		<label class="fs-5">Category*</label>
		<select style="height:30px;width: 200px;"name="Category">
			<option>Food</option>
			<option>Drinks</option>
			<option>Desert</option>
		</select>
		<label class="fs-5">Sub Category*</label>
		<select style="height:30px;width: 200px;" name="sub_category">
			<option>Pizza</option>
			<option>Burger</option>
			<option>Sandwich</option>
			<option>Cake</option>
			<option>Pasta</option>
			<option>Thali</option>
			<option>Dosa</option>
			<option>Paneer</option>
			<option>Biryani</option>
		</select><br>
		<label class="fs-5">Restaurant*</label><br>
		<select style="height:30px;width: 300px;" name="restaurant">
			<option>Grill Park</option>
			<option>Bobbies Burger</option>
			<option>Chicken& Biryani</option>
			<option>French House</option>
		</select>
		<label class="fs-5 justify-between">Price*</label>
		<input type="text" name="price" placeholder="Enter food Price" class="input2"><br>
		<label class="fs-5" >Description*</label><br>
		<textarea class="w-50 mt-3" placeholder="Customers first name" name="description"></textarea>
		<div>
  			<label for="files" class="btn text-white fs-5 bg-danger" 
			style="position:relative; top: -80px; left:600px;"><i class="fa-solid fa-arrow-up-from-bracket text-white"></i> Upload Image</label>
  			<input  id="files"  type="file" name="Image">
		</div>
		<button class="btn btn-primary"style="position:relative; top:-50px;">Submit</button>
		<button class="btn btn-danger"style="position:relative; top:-50px;">Reset</button>
	</form>
</div>
</html>