<%- include('navbar1.ejs') %>

<div class="container-fluid mt-5">
	<div class="col-md-12  mt-4">
		<h1 class="text-danger text-center">BOBBIES BURGER-MENU</h1>
		<div class="text-center mt-4">
		<a href="/All1" class="text-decoration-none"><button class="btn btn-outline-danger">All</button></a>
		<a href="/menu_list1" class="text-decoration-none"><button class="btn btn-outline-danger">Food</button></a>
		<a href="/drinks1" class="text-decoration-none"><button class="btn btn-outline-danger">Drinks</button></a>
	</div>
		<div class="row mt-4">
		<div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/c48/0a3e0579ce9d2a4728441d3f00963c48.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Pizza</h4>
        <p class="text-center text-secondary">Fresh tomato sauce with Parmesan cheese, jalapeno peppers, red peppers, capers, pineapple, and mozzarella</p>
        <h5>₹249</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/f93/56d554ef4eece9fa8fbd4cfe92a0cf93.png" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Burger</h4>
        <p class="text-center text-secondary">Satisfy your cravings with our delicious vegetarian burger, packed with flavorful veggies and toppings</p>
        <h5>₹60</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/af7/2c4f2173c0e859389b391e4dda18faf7.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Pasta</h4>
        <p class="text-center text-secondary">Creamy sauce with fresh broccoli, tomatoes, garlic, sun-dried tomatoes, tempeh, Parmesan cheese and chili pepper</p>
        <h5>₹449</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/ebf/707e7597f3324600e5085d216af30ebf.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Veg Chowmein</h4>
        <p class="text-center text-secondary">Fresh Noodles Wok Tossed with Golden Fried garlic and Aromatic Seasonings</p>
        <h5>₹200</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
		</div>
	</div>
</div>

<div class="container-fluid mt-5">
  <div class="row mt-4">
    <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/624/1cdb54c5ab878ea8fb6255ac43f30624.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Lemon ice tea</h4>
        <p class="text-center text-secondary">Made with Lemon juice and soda</p>
        <h5>₹60</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/fa3/eebe3e4bec0f5ba3e728ae261f8a5fa3.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Green Apple Ice Tea</h4>
        <p class="text-center text-secondary">Made with apple juice and lemon</p>
        <h5>₹60</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/70f/dc9d59814b829d6f2bc3d51250ab770f.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Peach Ice Tea</h4>
        <p class="text-center text-secondary">Summer is all about peaches and we serve exactly that..</p>
        <h5>₹80</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/6bf/ef65ea9bcf813e7982e7e8f0e77e76bf.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Fresh Watermelon Juice</h4>
        <p class="text-center text-secondary">Made with fresh watermelon juice </p>
        <h5>₹80</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
    </div>
  </div>

  <%- include('footer.ejs') %>
