<%- include('navbar1.ejs') %>


<div class="container-fluid mt-5">
  <div class="col-md-12  mt-4">
    <h1 class="text-danger text-center">GRILL PARK-MENU</h1>
    <div class="text-center mt-4">
    <a href="/All2" class="text-decoration-none"><button class="btn btn-outline-danger">All</button></a>
    <a href="/menu_list2" class="text-decoration-none"><button class="btn btn-outline-danger">Food</button></a>
    <a href="/drinks2" class="text-decoration-none"><button class="btn btn-outline-danger">Drinks</button></a>
  </div>
    <div class="row mt-4">
    <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/pictures/9/18519399/77ca7de654511899f546945e91467265.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Thali</h4>
        <p class="text-center text-secondary">As the name suggests this beautiful Naan is seved crushed with mouth watering stuffing</p>
        <h5>₹249</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/f09/af2aa0a828bf288011f2e6c9d64e2f09.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Paneer</h4>
        <p class="text-center text-secondary">Kaju & Paneer Cooked In Roasted Tomato Gravy With Dollops Of Home Made Butter.</p>
        <h5>₹310</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/46c/e7d594a917a7eec5dc682b297622346c.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Dosa</h4>
        <p class="text-center text-secondary">Dosa made with fresh batter and serverd with 3 chutney i.e tomata,coconut and peanut with cheese</p>
        <h5>₹449</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/9cb/5d167f6f7eea5fd2d508019327a7f9cb.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Biryani</h4>
        <p class="text-center text-secondary">Grilled boneless pieces of chicken in tandoor added special masala and good quality rice.</p>
        <h5>₹200</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
       
    </div>

  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row mt-4">
    <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/624/1cdb54c5ab878ea8fb6255ac43f30624.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Lemon ice tea</h4>
        <p class="text-center text-secondary">Made with Lemon juice and soda</p>
        <h5>₹60</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/fa3/eebe3e4bec0f5ba3e728ae261f8a5fa3.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Green Apple Ice Tea</h4>
        <p class="text-center text-secondary">Made with apple juice and lemon</p>
        <h5>₹60</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/70f/dc9d59814b829d6f2bc3d51250ab770f.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Peach Ice Tea</h4>
        <p class="text-center text-secondary">Summer is all about peaches and we serve exactly that..</p>
        <h5>₹80</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/6bf/ef65ea9bcf813e7982e7e8f0e77e76bf.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Fresh Watermelon Juice</h4>
        <p class="text-center text-secondary">Made with fresh watermelon juice </p>
        <h5>₹80</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
    </div>
  </div>


  <%- include('footer.ejs') %>
