<%- include('navbar1.ejs') %>
<div class="container-fluid mt-4">
	<div class="row">
		<div class="col-md-3 bg-danger col3">
			<div class="text-white fs-4" style="background-color:red;">FOOD
				<i class="fa-solid fa-utensils float-end text-white fs-5 mt-2"></i>
			</div>
			<div>
			<ul class="list-none w-100" style="margin-left:-20px">
			<a href="#" class="text-decoration-none"><li class="d-inline-block text-white fs-4 w-100  border border-secondary border-1">Pizza</li></a>
			<a href="#" class="text-decoration-none"><li class="d-inline-block text-white fs-4 w-100 border border-secondary border-1">Burger</li></a>
			<a href="#" class="text-decoration-none"><li class="d-inline-block text-white fs-4 w-100 border border-secondary border-1">Pasta</li></a>
			<a href="#" class="text-decoration-none"><li class="d-inline-block text-white fs-4 w-100 border border-secondary border-1">Veg Chowmein</li></a>
				</ul>
			</div>

			<a href="/drinks1" class="text-decoration-none"><div class="text-white fs-4" style="background-color:red;">DRINKS
				<i class="fa-solid fa-utensils float-end text-white fs-5 mt-2"></i>
			</div></a>
			<div>
			<ul class="list-none w-100" style="margin-left:-20px">
			<a href="#" class="text-decoration-none"><li class="d-inline-block text-white fs-4 w-100  border border-secondary border-1">Lemon ice tea</li></a>
			<a href="#" class="text-decoration-none"><li class="d-inline-block text-white fs-4 w-100 border border-secondary border-1">Green Apple Ice Tea</li></a>
			<a href="#" class="text-decoration-none"><li class="d-inline-block text-white fs-4 w-100 border border-secondary border-1">Peach Ice Tea</li></a>
			<a href="#" class="text-decoration-none"><li class="d-inline-block text-white fs-4 w-100 border border-secondary border-1">Fresh Watermelon Juice</li></a>
				</ul>
			</div>
		
	</div>

	<div class="col-md-9  mt-4">
		<h1 class="text-danger text-center">CHICKEN & BIRYANI-MENU</h1>
		<div class="text-center mt-4">
		<a href="/All1" class="text-decoration-none"><button class="btn btn-outline-danger">All</button></a>
		<a href="/menu_list1" class="text-decoration-none"><button class="btn btn-outline-danger">Food</button></a>
		<a href="/drinks2" class="text-decoration-none"><button class="btn btn-outline-danger">Drinks</button></a>
	</div>
		<div class="row mt-4">
		<div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/dcf/c53fa9ac61bc639f4f9fcad0ef3bfdcf.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Butter Chicken</h4>
        <p class="text-center text-secondary">Fresh tomato sauce with Parmesan cheese, jalapeno peppers, red peppers, capers, pineapple, and mozzarella</p>
        <h5>₹249</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/pictures/0/111240/ab1754036406c50f3cfdf8074fb7cdb2_o2_featured_v2.jpg"
         class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Biryani</h4>
        <p class="text-center text-secondary">Satisfy your cravings with our delicious vegetarian burger, packed with flavorful veggies and toppings</p>
        <h5>₹260</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/26b/8aaa5dcc9b5c2571dfddb1fab226726b.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">chicken handi</h4>
        <p class="text-center text-secondary">Creamy sauce with fresh broccoli, tomatoes, garlic, sun-dried tomatoes, tempeh, Parmesan cheese and chili pepper</p>
        <h5>₹449</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/47c/b26ea142a9b5a2650ad9b01fc882247c.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">chicken manchurian</h4>
        <p class="text-center text-secondary">Fresh Noodles Wok Tossed with Golden Fried garlic and Aromatic Seasonings</p>
        <h5>₹200</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
		</div>
	</div>
</div>
<%- include('footer.ejs') %>
