<%- include("navbar1.ejs") %>
<div class="container-fluid mt-5">
	<div class="col-md-12  mt-4">
		<h1 class="text-danger text-center">DESERT-MENU</h1>

		<div class="row mt-4">
		<div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/pictures/4/19833614/e5f50c38ace80d2e58dfc7e70aa9f8d0_o2_featured_v2.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Monginies Cake Shop</h4>
        <p class="text-center text-secondary">Eggless Black forest cake[500 grams]</p>
        <h5>₹450</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/e3e/f7dea010dc8c7a06d49d7ef8d9f3de3e.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Winni Cakes</h4>
        <p class="text-center text-secondary">Eggless Pineapple Cake[500 grams]</p>
        <h5>₹350</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/0a9/a5b69e52ca8d0b7a17a95f986d3280a9.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Oven The Bakery</h4>
        <p class="text-center text-secondary">Dark Chocolate cake[400 grams]</p>
        <h5>₹400</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/e66/db8e9c0f7adb37969b22088e8ab89e66.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Winni Cakes</h4>
        <p class="text-center text-secondary">Chocolate Cake[400 grams]</p>
        <h5>₹300</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
		</div>
	</div>
</div>

<div class="container-fluid mt-5">
  <div class="row mt-4">
    <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/961/04c94821a9bc17881cbe6c9275a4a961.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Cakes & Cookies</h4>
        <p class="text-center text-secondary">Red Velvet Cake(contains egg)</p>
        <h5>₹450</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/b67/0aa27b3f46a1cd319b7fda4ba1410b67.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Sweet Truth</h4>
        <p class="text-center text-secondary">Mango Cake(contains egg)</p>
        <h5>₹350</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/21a/7c17e1d11440313bd5f03be65648e21a.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Cake Theorem</h4>
        <p class="text-center text-secondary">Vanilla Cake pure veg</p>
        <h5>₹250</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/pictures/5/19155525/c26e71f2f3214cd6fd0bf6519869917b_o2_featured_v2.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Oven The Bakery</h4>
        <p class="text-center text-secondary">Chocolate Lava cake</p>
        <h5>₹400</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
    </div>
  </div>
  <%- include('footer.ejs') %>


