<footer class="bg-dark">
    <div class="container-fluid text-center">
      <ul class="list-none text-secondary">
        <li class="d-inline-block fs-4"><i class="fa-brands fa-facebook"></i></li>
        <li class="d-inline-block fs-4" style="margin-left:20px;"><i class="fa-brands fa-twitter"></i></li>
        <li class="d-inline-block fs-4" style="margin-left:20px;"><i class="fa-brands fa-instagram"></i></li>
        <li class="d-inline-block fs-4" style="margin-left:20px;"><i class="fa-brands fa-whatsapp"></i></li>
      </ul>
      <h2 class="text-white lh-1">Foodtrip<img src="cover.png" height="100px" width="100px" class="text-danger"></h2>
      <ul class="text-center list-none text-secondary">
        <li class="d-inline-block">Foodtrip,India</li>
        <li class="d-inline-block text-danger">|</li>
        <li class="d-inline-block">Telephone:+243 995 219550</li>
        <li class="d-inline-block text-danger">|</li>
        <li class="d-inline-block">order@foodtrip.com</li>
      </ul>
    </div>
  </footer>
  
  </body>
  </html>