<%- include('navbar1.ejs') %>

<div class="container-fluid mt-4">
	<div class="row">
		<div class="col-md-3 bg-danger col3">
			<div class="text-white fs-4" style="background-color:red;">FOOD
				<i class="fa-solid fa-utensils float-end text-white fs-5 mt-2"></i>
			</div>
			<div>
			<ul class="list-none w-100" style="margin-left:-20px">
			<a href="#" class="text-decoration-none"><li class="d-inline-block text-white fs-4 w-100  border border-secondary border-1">Thali</li></a>
			<a href="#" class="text-decoration-none"><li class="d-inline-block text-white fs-4 w-100 border border-secondary border-1">Paneer</li></a>
			<a href="#" class="text-decoration-none"><li class="d-inline-block text-white fs-4 w-100 border border-secondary border-1">Dosa</li></a>
			<a href="#" class="text-decoration-none"><li class="d-inline-block text-white fs-4 w-100 border border-secondary border-1">Biryani</li></a>
				</ul>
			</div>

			<div class="text-white fs-4" style="background-color:red;">DRINKS
				<i class="fa-solid fa-utensils float-end text-white fs-5 mt-2"></i>
			</div>
			<div>
			<ul class="list-none w-100" style="margin-left:-20px">
			<a href="#" class="text-decoration-none"><li class="d-inline-block text-white fs-4 w-100  border border-secondary border-1">Lemon ice tea</li></a>
			<a href="#" class="text-decoration-none"><li class="d-inline-block text-white fs-4 w-100 border border-secondary border-1">Green Apple Ice Tea</li></a>
			<a href="#" class="text-decoration-none"><li class="d-inline-block text-white fs-4 w-100 border border-secondary border-1">Peach Ice Tea</li></a>
			<a href="#" class="text-decoration-none"><li class="d-inline-block text-white fs-4 w-100 border border-secondary border-1">Fresh Watermelon Juice</li></a>
				</ul>
			</div>
		
	</div>

	<div class="col-md-9  mt-4">
		<h1 class="text-danger text-center">Grill Park-MENU</h1>
		<div class="text-center mt-4">
		<a href="/All2" class="text-decoration-none"><button class="btn btn-outline-danger">All</button></a>
		<a href="/menu_list2" class="text-decoration-none"><button class="btn btn-outline-danger">Food</button></a>
		<a href="/drinks1" class="text-decoration-none"><button class="btn btn-outline-danger">Drinks</button></a>
	</div>
		<div class="row mt-4">
		<div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/pictures/9/18519399/77ca7de654511899f546945e91467265.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Thali</h4>
        <p class="text-center text-secondary">As the name suggests this beautiful Naan is seved crushed with mouth watering stuffing</p>
        <h5>₹249</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/f09/af2aa0a828bf288011f2e6c9d64e2f09.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Paneer</h4>
        <p class="text-center text-secondary">Kaju & Paneer Cooked In Roasted Tomato Gravy With Dollops Of Home Made Butter.</p>
        <h5>₹310</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/46c/e7d594a917a7eec5dc682b297622346c.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Dosa</h4>
        <p class="text-center text-secondary">Dosa made with fresh batter and serverd with 3 chutney i.e tomata,coconut and peanut with cheese</p>
        <h5>₹449</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
      <div class="col-md-3 text-center s3_col">
        <img src="https://b.zmtcdn.com/data/dish_photos/9cb/5d167f6f7eea5fd2d508019327a7f9cb.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Biryani</h4>
        <p class="text-center text-secondary">Grilled boneless pieces of chicken in tandoor added special masala and good quality rice.</p>
        <h5>₹200</h5>
        <a href="#" class="text-decoration-none"><button class="btn btn-danger border border-secondary border-3 rounded-pill">Add To Cart</button></a>
      </div>
		</div>
	</div>
</div>

<%- include('footer.ejs') %>
