<%- include('navbar1.ejs') %>

<div class="container-fluid text-center mt-4">
	<h1 class="text-danger">RESTAURANT</h1>
	<input type="text" placeholder="Search Restaurants..." class="mt-4 w-50 ">
</div>

<section class="s3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 text-center s3_col">
        <img src="https://t3.ftcdn.net/jpg/03/24/73/92/360_F_324739203_keeq8udvv0P2h1MLYJ0GLSlTBagoXS48.jpg" class="img-fluid" height="250px" width="300px">
        <h4 class="text-center text-secondary">Grill Park</h4>
        <p class="text-center text-secondary">Order food at Grill park masters of italian Pizza...</p>
        <button class="btn btn-danger border border-secondary border-3 rounded-pill">
          <a href="/menu_list2" class="text-decoration-none text-white">View ou menu</a></button>
      </div>

      <div class="col-md-3 text-center s3_col">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/11/27/d0/63/special-house-burger.jpg" height="180px" width="300px">
        <h4 class="text-center text-secondary">Bobbies Burger</h4>
        <p class="text-center text-secondary">Order a Burger,Beef,cheese,vegan burger,chicken burger</p>
        <button class="btn btn-danger border border-secondary border-3 rounded-pill">
          <a href="/menu_list1" class="text-decoration-none text-white">View ou menu</a></button>
      </div>

      <div class="col-md-3 text-center s3_col">
        <img src="https://w0.peakpx.com/wallpaper/755/638/HD-wallpaper-a-chef-preparing-food-in-the-kitchen-of-a-restaurant-chefs-at-work-kitchen-cooking.jpg" height="180px" width="300px">
        <h4 class="text-center text-secondary">Chicken & Biryani</h4>
        <p class="text-center text-secondary">Renowned for serving tasty fried chicken peices and biryani.</p>
        <button class="btn btn-danger border border-secondary border-3 rounded-pill">View ou menu</button>
      </div>

      <div class="col-md-3 text-center s3_col">
        <img src="https://rare-gallery.com/thumbs/537941-beer-bread.jpg" height="180px" width="300px">
        <h4 class="text-center text-secondary">French House</h4>
        <p class="text-center text-secondary">Grab a sandwich at our 'pick'& noodles,french toast.</p>
        <button class="btn btn-danger border border-secondary border-3 rounded-pill justify-content-center">View ou menu</button>
      </div>
    </div>
  </div>
</section>
<%- include('footer.ejs') %>
